* {
    font-family: Roboto;
}

.header {
    background: #1F2937;
    padding: 5px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:850px
}

.header-logo {
    font-size: 24px;
    display: flex;
}

body {
    margin: 0;
}

.right-side-links {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.section-one {
    background: #1F2937;    
    padding: 150px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.hero-main {
    font-size: 48px;
    font-weight: 1000;    
}

.sign-up {
    border-radius: 10px;
    background-color:#3882F6;
    height: 45px;
    width: 150px;;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
}

img {
    height: 400px;
    width: auto;
}

.hero-sub {
    width: 600px;
    font-size: 18px;
    color: #E5E7EB;
}

.section-two {
    display: flex;
    flex-direction: column;
}

.squares-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    flex-wrap: wrap;
}


.info-header {
    font-weight: bolder;
    font-size: 36px;
    margin: 50px;
    text-align: center;
}

.info-box-one, .info-box-two, .info-box-three, .info-box-four {
    background-color: white;
    border-radius: 20px;
    border: 5px solid #3882F6;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.info-text-one, .info-text-two, .info-text-three, .info-text-four {
    font-size: 20px;
}

.info-sec-one, .info-sec-two, .info-sec-three, .info-sec-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}